.filler {
    // padding-top: 15%;
    padding-bottom: 30%;
    height: 50px;
    background-color: white;
    color: #222E50;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #222E50;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #222E50;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
    letter-spacing: 1px;
    margin-bottom: 5%
}

h1 {
	background-image: url(https://media.giphy.com/media/26BRvIYDe4ILO60Ni/giphy.gif);
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 90px;
	line-height: 100px;
	margin: 10px 0;
}
  

h2 {
    font-size: 40px
}

h3 {
    color: #222E50;
    font-size: 30px
}

.seminars {
    
    background-color: white;
    height: 600px;

    > h2 {
        border-bottom: 2px solid #222E50;
        color: #222E50;
        padding-top: 3%;
        margin-top:0;
    }
    > .semi {
        float: left;
        background-color:white;
        color: #222E50;
        height: 360px;
        width: 40%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 5%;
        border: 2px solid #222E50;
        
    }

    .semi:hover {
        box-shadow: 0 30px 50px 0 rgba(39, 39, 39, 0.322), 0 30px 60px 0 rgba(0, 0, 0, 0.192);
       



    }
}

 