.contactContainer {
    float: left;
    height: 500px;
    width: 50%;
    position: relative;
}


.forming {
    background-color: white;
    padding-top: 50px;
    padding-left: 5%;
    color: #222E50;
    text-align: left;
    float: left;
    height: 450px;
    width:45%;
    position: relative;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

form {
  max-width: 80%;
  margin: 0 auto;
  
  // positioning context
  > div {
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;
    
    // Looks like placeholder
    > label {
      color: #222E50;
      font-weight: bold;
      position: absolute;
      top: 22px;
      left: 20px;
    }
    
    > input[type="text"],
    > input[type="email"],
    > input[type="password"],
    > textarea[type="text"] {
      width: 80%;
      border: 0;
      padding: 20px 20px 20px 50px;
      background: white;
      
      &:focus {
        
        // removing default focus style
        outline: 0;
        // adding new one
        background: white;
        
        & + label {
          opacity: 0;
        }
      }
      
      &:valid {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:not(:focus):not(:placeholder-shown) {
        background: pink;
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }
      
    }
    
    .requirements {
      padding: 0 30px 0 50px;
      color: black;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: crimson;
      font-style: italic;
    }
    
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    background: #222E50;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
  }
}

.head {
    text-align: center;
    color: #222E50;
}

@media (max-width: 800px) {

  .contactContainer {
    border-top: 5px solid #222E50; 
    float: left;
    height: 500px;
    width: 100%;
    position: relative;
}

.forming {
  border-top: 5px solid #222E50; 
  background-color: white;
  padding-top: 50px;
  padding-left: 5%;
  color: #222E50;
  text-align: left;
  float: left;
  height: 450px;
  width:95%;
  position: relative;
  border-bottom: 5px solid #222E50; 
}

}