body {
    background-color: white
}

.advertcontainer {
    height: 500px;
}

h3 {
    text-align: center;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
}

.adContainer {
    padding-left: 10%;
    padding-right: 10%;
}

.adTitle {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 20pt;
    font-family: 'Raleway', sans-serif;
}

.adMain {
    width: 30%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    padding-top: 2%;
}

.adMain:hover { 
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.fas {
    padding-left: 0%;
    padding-right: 0%;
    color: crimson;
    text-align: center
}

.adContent {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
    color: rgb(5, 54, 132);
    font-family: 'Raleway', sans-serif;
}

