body {

    background-color: white


.advertcontainer {
    height: 500px;
}

h3 {
    text-align: center;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
}

.adContainer {
    padding-left: 10%;
    padding-right: 10%;
}

.adTitle {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 20pt;
    font-family: 'Raleway', sans-serif;
}

.adMain {
    width: 30%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    padding-top: 2%;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.adMain:hover { 
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.fas {
    padding-left: 0%;
    padding-right: 0%;
    color: crimson;
    text-align: center
}

.adContent {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
    color: rgb(5, 54, 132);
    font-family: 'Raleway', sans-serif;
}












.heroSlogan {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 45%;
    z-index: 1;
    text-align: center;
    padding: 10px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.heroButton {
    margin-top: 20px;
    color: white;
    background-color: transparent;
    font-family: Raleway;
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5%;
}

.heroButton:hover {
    background-color: black; 
    transition: background-color .3s linear;
    color: white;
    cursor: pointer;
}

.masthead {
    color: white;
    float: left;
    font-size: 40px;
    margin:0 15px 10px 15px;
    font-family: 'Monoton', cursive;
    text-align: center;
}

.links {
    color: white;
    float: right;
    margin: 10px 15px 10px 15px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
}

.links:hover { 
    transition: color .3s linear;
    color: black;
    cursor: pointer;
}

.logotech {
    margin: 20px 5px 0 20px;
    float: left;
    border-radius: 50%;
    height: 50px;
}


.container {
    height: 100%;
    width: 100%;
    z-index: -3;
  }

  .menurow {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;
    color: white;
    float: right;
    padding-right: 10px;
    visibility: hidden;
}

.logoimg {
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 20px;
}


  @media (max-width: 800px) {
    .menurow {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: black;
        float: right;
        padding-right: 10px;
        visibility: visible;
    }

    .Nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        z-index: 1;
        width: 100%;
        border-bottom: none;
    }
  }