.mobileNav {
    visibility: hidden;
}

html, body {
    background-color: white;
}

.Nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    text-decoration: 'none';
}

.heroSlogan {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 45%;
    z-index: 1;
    text-align: center;
    padding: 10px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.heroButton {
    margin-top: 20px;
    color: white;
    background-color: transparent;
    font-family: Raleway;
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5%;
}

.heroButton:hover {
    background-color: black; 
    transition: background-color .3s linear;
    color: white;
    cursor: pointer;
}

.masthead {
    color: white;
    float: left;
    font-size: 40px;
    margin: -25px 15px 10px 15px;
    font-family: 'Monoton', cursive;
    text-align: center;
}

.links {
    color: white;
    float: right;
    margin: 10px 15px 10px 15px;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
    text-decoration: 'none';
}

.links:hover { 
    transition: color .3s linear;
    color: black;
    cursor: pointer;
}

.logotech {
    margin: 20px 5px 0 20px;
    float: left;
    border-radius: 50%;
    height: 50px;
}


.container {
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  .menurow {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;
    color: white;
    float: right;
    padding-right: 10px;
    visibility: hidden;
}

.logoimg {
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 20px;
}

.navTitle {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 1;
    width: 100%;
    color: white;
    float: left;
    font-size: 25px;
    font-family: 'Monoton', cursive;
    text-align: center;
    background-color: none;
}


  @media (max-width: 900px) {
    .menurow {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: black;
        float: right;
        padding-right: 10px;
        visibility: visible;
    }

    .mobileNav {
        visibility: visible;
    }

    .Nav {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        z-index: 0;
        width: 100%;
        border-bottom: none;
    }

    .links {
        color: white;
        float: right;
        width: 600px;
        margin: 10px 15px 10px 15px;
        font-family: 'Raleway';
        font-size: 40px;
        font-weight: bold;
        text-decoration: 'none';
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;

    }


.navTitle {
    visibility: visible;
    height:200px;
    color: white;
    float: left;
    font-size: 55px;
    font-family: 'Monoton', cursive;
    text-align: center;
    background-color: #222E50;
}

.burgContainer {
    cursor: pointer;
    float: left;
    z-index: 100;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #222E50;

}

.bar1, .bar2, .bar3 {
    width: 85px;
    height: 15px;
    background-color: white;
    margin: 21px 20px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

  }