.copyright {
    margin-top: 550px;
    width: 95%;
    height: 50px;
    color: #222E50;
    font-weight: bold;
    padding-left: 5%;
    background-color: white;
}

@media (max-width: 800px) {
    
    .copyright {
        margin-top: 1000px;
        width: 95%;
        height: 80px;
        color: #222E50;
        font-weight: bold;
        padding-left: 5%;
    }





}